(module :id "casts"
  (fn :name "do" :ret i32 :params [ (param i8 %a) (param u8 %b) ]
      :body [ (zext %az i32 %a) (zext %bz i32 %b) (add %s i32 %az %bz) (trunc %t i8 %s) (sext %sx i32 %t) (ret i32 %sx) ])
  (fn :name "main" :ret i32 :params []
      :body [ (const %c1 i8 5) (const %c2 u8 9) (call %r i32 do %c1 %c2) (ret i32 %r) ])
)
